<div class="row">
  <div class="col-md-4 col-md-offset-6" id="login-form">
    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
    {{/if}}
    <form {{action "login" on="submit"}}>
      <div class="form-group">
        {{input class="form-control" type="text" placeholder="Username" value=username}}
      </div>
      <div class="form-group">
        {{input class="form-control" type="password" placeholder="Password" value=password}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button><span class="pull-right">Not yet a member? {{#link-to "users.new"}}Sign Up{{/link-to}}</span>
      </div>
    </form>
  </div>
</div>

